@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap);

header,
section,
main,
div,
form,
input,
button,
p,
img {
  box-sizing: border-box;
}

html {
  font-size: clamp(10px, 1vw, 15px);
}

.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  display: flex;
  flex-flow: column;

  text-align: center;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
}

.app-header {
  padding: 1.5rem;
  width: 100vw;

  position: relative;
  z-index: 1000;

  display: flex;
  flex-flow: row;
  align-items: center;

  background-color: #f0f0f0;
}
.app-header h1 {
  text-align: left;
  font-size: 3rem;
  flex-grow: 1;
}
.app-header .sign-out {
  padding: 1rem;
  margin-left: 1rem;
  font-size: 2rem;

  background-color: #f0f0f0;
  border: 0;
  border-radius: 3rem;
  box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.container {
  position: relative;
  flex-grow: 1;
}

.sign-in-wrapper {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  width: 400px;

  text-align: center;
}
.sign-in-wrapper p {
  margin-top: 2rem;
  font-size: 1.3rem;
}

.chat-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;

  background-color: #f0f0f0;
}

.messages-container {
  padding: 2rem;
  overflow: auto;

  background-color: #f0f0f0;
}

.message {
  margin-top: 3rem;
  display: flex;
  align-items: flex-start;
  position: relative;
}
.message.sent {
  flex-flow: row-reverse;
}

.message .sender-name {
  position: absolute;
  top: -1.5rem;
  padding: 0 6.5rem;

  color: #8b8b8b;
}

.message img {
  width: 4rem;

  border-radius: 50%;
  box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.message p {
  margin: 0 2rem;
  padding: 0.5rem 1rem;
  max-width: 70%;

  background-color: #f0f0f0;
  border-radius: 1.5rem;
  box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px rgba(0, 0, 0, 0.2);

  text-align: left;
  font-size: 1.5rem;
  line-height: 1.25em;
  word-wrap: break-word;
}

form {
  padding: 1.5rem;
  width: 100vw;

  display: flex;
  flex-flow: row;
  align-items: center;
}

form input {
  padding: 0.5rem 1.5rem;
  flex-grow: 1;

  background-color: #f0f0f0;
  border: 5px solid #f0f0f0;
  border-radius: 2.5rem;
  box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px rgba(0, 0, 0, 0.2), inset -5px -5px 10px #ffffff,
    inset 5px 5px 10px rgba(0, 0, 0, 0.2);
  outline: 0;

  font-size: 1.5rem;
}

form button {
  padding: 1rem;
  margin-left: 1rem;
  width: 5rem;
  height: 5rem;
  font-size: 2rem;

  background-color: #f0f0f0;
  border: 0;
  border-radius: 50%;
  box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px rgba(0, 0, 0, 0.2);
}
